.container {
  border-top: 10px solid darkturquoise;
  font-family: sans-serif;
  width: 800px;
  margin: 0 auto;
}

h2 {
  position: relative;
}

.post-header::before {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -10px;
}

header {
  background-color: aliceblue;
  color: darkturquoise;
}

nav a {
  text-decoration: none;
  color: darkturquoise;
  display: inline-block;
  margin-right: 50px;
  font-size: 22px;
}

nav a:last-child {
  margin-right: 0;
}

.post-header {
  font-size: 40px;
  color: darkturquoise;
}

.post-image {
  width: 800px;
  height: auto;
}

p {
  font-size: 22px;
}

h3 {
  color: darkturquoise;
  font-size: 30px;
}

ol li:first-child {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
ol li:nth-child(2) {
  margin-bottom: 15px;
}

li {
  font-size: 20px;
}

.dev-link {
  text-decoration: none;
  color: darkturquoise;
}

.unordered-list li:first-child {
  font-weight: bold;
}

.dev-link:hover {
  color: tomato;
}

h4 {
  font-size: 22px;
  color: darkturquoise;
  text-transform: uppercase;
}

aside {
  border-top: 5px solid darkturquoise;
  border-bottom: 5px solid darkturquoise;
  position: relative;
}

.unordered-list-2 li p {
  font-weight: bold;
}

.unordered-list-2 li a {
  color: darkturquoise;
  text-decoration: none;
}

button {
  font-size: xx-large;
  padding: 7px 15px;
  position: absolute;
  bottom: 10px;
  right: 0;
  cursor: pointer;
}
